body {
    overflow: hidden;
    background: #6e61f6;
}

div#hello {
    font-family: monospace;
    font-size: 13px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 100%;
    bottom: 12px;
    color: rgba(0, 0, 0, 0.6);
}