body {
    overflow: hidden;
    background: #81c5e4;
}

div#hello {
    font-family: monospace;
    font-size: 20px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 100%;
    bottom: 400px;
    color: rgba(214, 21, 21, 0.6);
}